{% extends 'base.html.twig' %}

{% block title %}create new restaurant{% endblock %}

{% block body %}
    <form action="{{ path("restaurant.name") }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Restaurant Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Restaurant Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="formFileSm" class="form-label">Restaurant Picture</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file" name="picture">
        </div>
        <select name="cityId" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Restaurant City</option>
            {% for city in cities %}
                <option value="{{ city.id }}">{{ city.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary btn-lg" value="Create New Restaurant" />
    </form>
{% endblock %}
