{% extends 'base.html.twig' %}

{% block title %}all users{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">username</th>
            <th scope="col">password</th>
            <th scope="col">city</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.getUsername() }}</td>
                <td>{{ user.getPassword() }}</td>
                <td>{{ user.getCityId().getName() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
